<header>
  <div class='header-inner'>
      <%= link_to image_tag( 'tora_logo.JPG', size: '175x120', class:'logo' ), "/" %>
    <div id="nav-wrapper" class="nav-wrapper">
  <div class="hamburger" id="js-hamburger">
    <span class="hamburger__line hamburger__line--1"></span>
    <span class="hamburger__line hamburger__line--2"></span>
    <span class="hamburger__line hamburger__line--3"></span>
  </div>
  <nav class="sp-nav">
    <div class="menu">
      <ul>
        <li class="nac-item active">
          <%= link_to "メニュー", inquirys_menu_path, class: "nav-link" %>
        </li>
        <li class="nac-item active">
          <%= link_to "施術表/料金", inquirys_menu_display_path, class: "nav-link" %>
        </li>
        <li class="nac-item active">
          <%= link_to "ご予約", 'https://tol-app.jp/s/shgt6zy182gfq2am4m49', class: "nav-link" %>
        </li>
        <li class="nac-item active">
          <%= link_to "サロン案内/アクセス", inquirys_access_path, class: "nav-link" %>
        </li>
        
      </ul>
    </div>
  </nav>
  <div class="black-bg" id="js-black-bg"></div>
 </div>
  </div>
</header>