<%= render "shared/header" %>

<div class="appointment">
ご予約
</div>

<div class="slideshow-container">
  <div class="slide fade">
    <%= image_tag "tiikawa1.png" %>
  </div>
  <div class="slide fade">
    <%= image_tag "tiikawa2.png" %>
  </div>
  <div class="slide fade">
    <%= image_tag "menu.png" %>
  </div>
  <div class="slide fade">
    <%= image_tag "title_news.svg" %>
  </div>
</div>
:
:

<%= render "shared/footer" %>