<%= render "shared/header" %>

<div class="appointment">
ご予約
</div>

<div class="slideshow-container">
  <div class="slide fade">
    <%= image_tag "top/top1.jpg" %>
  </div>
  <div class="slide fade">
    <%= image_tag "top/top2.jpg" %>
  </div>
  <div class="slide fade">
    <%= image_tag "top/top3.jpg" %>
  </div>
  <div class="slide fade">
    <%= image_tag "top/top4.jpg" %>
  </div>
</div>
:
:

<%= render "shared/footer" %>