<div id="bar"></div>
<%= render "shared/header" %>
<div class='main-page'>

  <!-- トップ画像を表示 -->
  <div class="container">
    <%= image_tag "room_main.JPG", class:"image" %>
    <%= image_tag "room1.JPG", class:"image" %>
    <%= image_tag "room_main.JPG", class:"image" %>
  </div>
<body>
  <div class='contents'>

    <!-- メニュー画面を表示 -->
    <div class="menu-content">
      <div class="title_menu_image">
      <%= image_tag "title_menu.svg", class:"title_menu" %>
      </div>
      <div class="menu_title">
       <p class="menu_title_top">それぞれのお体に合わせた<br>
                                 最適なケアのご提案</p>
      </div>
      <%= image_tag "este1-image.jpeg", class: "este1-image" %>
        <p class="menu_title_middle">TORa オリジナルメニューをはじめ、エンビロン、セルコスメのメニューをご用意。<br>
        人の体がそれぞれ違うように、肌ケアも十人十色。<br>カウンセリングを元に最適なケアをご提案いたします。</p>
      <div class="menu-link">
        <%= link_to "全てのメニューを見る", inquirys_menu_path, class: "menu_link" %>
      </div>
    </div>


    <!-- 新着情報を表示 -->
    <div class='information-top'>
      <%= image_tag "title_news.svg", class:"title_news" %>
      <ul class="news-list">
        <li class="date">
          <p class= "news-date">2023.07.31</p>
          <p class="news-title">「TORa」初めてのご来店の方</p>
        </li>
        <li class="date">
          <p class= "news-date">2023.07.15</p>
          <p class="news-title">暑中見舞い申し上げます。</p>
        </li>
        <li class="date">
          <p class= "news-date">2023.07.04</p>
          <p class="news-title">なおたか誕生日</p>
        </li>
      </ul>
      <div class="news-link">
        <%= link_to "ニュース一覧", inquirys_menu1_path, class: "news_link" %>
      </div>
    </div>

    <!-- アクセス情報を表示 -->
    <div class="access">
        <div class="access-title">
          <div class="access-title-up">information / access</div>
          <div class="access-title-middle">-</div>
          <div class="access-title-down">サロン案内／アクセス</div>
        </div>
      <div class="access-top">
        <div class="access-flex">
          <div class="access-image">
            <%= image_tag asset_path("home.jpeg"), class:"home" %>
          </div>
          <div class="access-information">
            <div class="access-comment">
              <div class="name">HEALTH & BEAUTY  TORa</div>
              <div class="adress">〒381-2223 長野県長野市里島27-2<br> タウンコートいずみ 102号室</div>
              <div class="time">営業時間 ◯◯：◯◯ 〜 ◯◯：◯◯ </div>
              完全予約制
            </div>
          </div>
        </div>
      </div>
    </div>
    

    <!-- Slider main container -->
<div class="swiper mySwiper2">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">Slide 1</div>
    <div class="swiper-slide">Slide 2</div>
    <div class="swiper-slide">Slide 3</div>
    <div class="swiper-slide">Slide ４</div>
  </div>
  <!-- 必要に応じてナビボタン -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>
<div class="swiper mySwiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">Slide 1</div>
    <div class="swiper-slide">Slide 2</div>
    <div class="swiper-slide">Slide 3</div>
    <div class="swiper-slide">Slide ４</div>
  </div>
</div>
    <!-- メニューを表示 -->
    <%= image_tag "menu.png", size: '181x28', class:"menu-image" %>
    <div class='menu-content'>
      
      <ul class="first-image">
        <li>
        <%= image_tag "tiikawa1.png", size: '181x300', class:"tiikawa-image" %>
        <h4 class="image-name">ちいかわ１</h4>
        </li>
        <li>
        <%= image_tag "tiikawa1.png", class:"tiikawa-image" %>
        <h4 class="image-name">ちいかわ２</h4>
        </li>
        <li>
        <%= image_tag "tiikawa2.png", size: '181x300', class:"tiikawa-image" %>
        <h4 class="image-name">ちいかわ３</h4>
        </li>
      </ul>

    </div>
  </div>

</div>
</body>
<%= render "shared/footer" %>