<div id="bar"></div>
<%= render "shared/header" %>
<div class='main-page'>
<p>jQuery稼働テスト</p>

  <!-- トップ画像を表示 -->
  <div class="container">
    <%= image_tag "room_main.JPG", class:"image" %>
    <%= image_tag "room1.JPG", class:"image" %>
    <%= image_tag "room_main.JPG", class:"image" %>
  </div>
<body>
  <div class='contents'>

    <!-- メニュー画面を表示 -->
    <div class="menu-content">
      <div class="title_menu_image">
      <%= image_tag "title_menu.svg", class:"title_menu" %>
      </div>
      <div class="menu_title">
       <p class="menu_title_top">それぞれのお体に合わせた<br>
                                 最適なケアのご提案</p>
      </div>
      <%= image_tag "este1-image.jpeg", class: "este1-image" %>
        <p class="menu_title_middle">TORa オリジナルメニューをはじめ、エンビロン、セルコスメのメニューをご用意。<br>
        人の体がそれぞれ違うように、肌ケアも十人十色。<br>カウンセリングを元に最適なケアをご提案いたします。</p>
      <div class="menu-link">
        <%= link_to "全てのメニューを見る", inquirys_menu_path, class: "menu_link" %>
      </div>
    </div>



    <!-- アクセス情報を表示 -->
    <div class="access">
        <div class="access-title">
          <div class="access-title-up">information / access</div>
          <div class="access-title-middle">-</div>
          <div class="access-title-down">サロン案内／アクセス</div>
        </div>
      <div class="access-top">
        <div class="access-flex">
          <div class="access-image">
            <%= image_tag asset_path("home.jpeg"), class:"home" %>
          </div>
          <div class="access-information">
            <div class="access-comment">
              <div class="name">HEALTH & BEAUTY  TORa</div>
              <div class="adress">〒381-2223 長野県長野市里島27-2<br> タウンコートいずみ 102号室</div>
              <div class="time">営業時間 ◯◯：◯◯ 〜 ◯◯：◯◯ </div>
              完全予約制
            </div>
          </div>
        </div>
      </div>
    </div>
    
 

 
  </div>

</div>
</body>
<%= render "shared/footer" %>