<div id="bar"></div>
<%= render "shared/header" %>
<div class='main-page'>

  <!-- トップ画像を表示 -->
  <%= image_tag "room_main.JPG", class:"image-main" %>
<body>
  <div class='contents'>
    <!-- 新着情報を表示 -->
    <div class='upper-content'>
      <%= image_tag "title_news.svg", size: '78x57.52', class:"title_news" %>
      <ul class="messages">
        <li class="message">
          <div class="message-date">2019/10/06</div>
          <div>「TORa」オープンしました！</div>
        </li>
        <li class="message">
          <div class="message-date">2019/10/03</div>
          <div>お得なキャンペーン実施します！</b></div>
        </li>
      </ul>

    </div>
  
    <!-- メニューを表示 -->
    <%= image_tag "menu.png", size: '181x28', class:"menu-image" %>
    <div class='menu-content'>
      
      <ul class="first-image">
        <li>
        <%= image_tag "tiikawa1.png", size: '181x300', class:"tiikawa-image" %>
        <h4 class="image-name">ちいかわ１</h4>
        </li>
        <li>
        <%= image_tag "tiikawa1.png", class:"tiikawa-image" %>
        <h4 class="image-name">ちいかわ２</h4>
        </li>
        <li>
        <%= image_tag "tiikawa2.png", size: '181x300', class:"tiikawa-image" %>
        <h4 class="image-name">ちいかわ３</h4>
        </li>
      </ul>

    </div>
  </div>

</div>
</body>
<%= render "shared/footer" %>