<div id="bar"></div>
<%= render "shared/header" %>
<div class='main-page'>
  <!-- トップ画像を表示 -->
<div id="photo">
    <%= image_tag "room_main.JPG", class:"image" %>
    <%= image_tag "room1.JPG", class:"image" %>
    <%= image_tag "room_main.JPG", class:"image" %>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script type="text/javascript">
$(function(){
    const setImg = '#photo';
    const fadeSpeed = 1600;
    const switchDelay = 4000;

    $(setImg).children('img').css({opacity:'0'});
    $(setImg + ' img:first').stop().animate({opacity:'1',zIndex:'20'},fadeSpeed);

    setInterval(function(){
        $(setImg + ' :first-child').animate({opacity:'0'},fadeSpeed).next('img').animate({opacity:'1'},fadeSpeed).end().appendTo(setImg);
    },switchDelay);
});
</script>

<body>
  <div class='contents'>

    <!-- メニュー画面を表示 -->
    <div class="menu-content">
        <div class="line"></div>
      <div class="title">
        <div class="title-up">menu</div>
        <div class="title-middle">-</div>
        <div class="title-down">【 それぞれのお体に合わせた最適なケアのご提案 】</div>
      </div>
      <%= image_tag "este1-image.jpeg", class: "este1-image" %>
        <p class="menu_title_middle">TORa オリジナルメニューをはじめ、エンビロン、セルコスメのメニューをご用意。<br>
        人の体がそれぞれ違うように、肌ケアも十人十色。<br>カウンセリングを元に最適なケアをご提案いたします。</p>
      <div class="menu-link">
        <%= link_to "全てのメニューを見る", inquirys_menu_path, class: "menu_link" %>
      </div>
    </div>

    <!-- お客様の声を表示 -->
    <div class="line"></div>
  <div class="questionnaire">
    <div class="title">
      <div class="title-up">questionnaires to customers</div>
      <div class="title-middle">-</div>
      <div class="title-down">【 お客様の声 】</div>
    </div>
        <div class="slider">
      <div>
        <ul>
          <li><a href="https://sozai-good.com/download?id=124&type=2&subnumber=0&extention=png"><img src="https://sozai-good.com/download?id=124&type=2&subnumber=0&extention=png"></a></li>
          <li><a href="https://sozai-good.com/download?id=2588&type=2&subnumber=0&extention=png"><img src="https://sozai-good.com/download?id=2588&type=2&subnumber=0&extention=png"></a></li>
          <li><a href="https://sozai-good.com/download?id=2602&type=2&subnumber=0&extention=png"><img src="https://sozai-good.com/download?id=2602&type=2&subnumber=0&extention=png"></a></li>
          <li><a href="https://sozai-good.com/download?id=2585&type=2&subnumber=0&extention=png"><img src="https://sozai-good.com/download?id=2585&type=2&subnumber=0&extention=png"></a></li>
        </ul>
        <span class="arrow left"></span>
        <span class="arrow right"></span>
      </div>
      <ul class="thumbs">
        <li><img src="https://sozai-good.com/download?id=124&type=2&subnumber=0&extention=png"></li>
        <li><img src="https://sozai-good.com/download?id=2588&type=2&subnumber=0&extention=png"></li>
        <li><img src="https://sozai-good.com/download?id=2602&type=2&subnumber=0&extention=png"></li>
        <li><img src="https://sozai-good.com/download?id=2585&type=2&subnumber=0&extention=png"></li>
      </ul>
      </div>

    <script>
    window.addEventListener('load', function () {
      document.querySelectorAll('.slider').forEach(slider => {
        //左矢印クリック
        slider.querySelector('.left').onclick = function () {
          let ul = this.parentNode.querySelector('ul');
          ul.scrollLeft -= ul.clientWidth;
        };
        //右矢印クリック
        slider.querySelector('.right').onclick = function () {
          let ul = this.parentNode.querySelector('ul');
          ul.scrollLeft += ul.clientWidth;
        };
        //サムネイル番号のカウント用
        let thumbs_no = 0;
        //サムネイル番号の割り振りとクリックイベントの追加
        slider.querySelectorAll('.thumbs li').forEach(thumbs_elm => {
          if (thumbs_no == 0) {
            //最初は1つ目のサムネイルが選択された状態にしておく
            thumbs_elm.classList.add('selected');
          }
          //自身が何番目の要素かdataset属性に保存しておく
          thumbs_elm.dataset.no = thumbs_no++;
          //サムネイルクリック時のイベント
          thumbs_elm.onclick = function () {
            //現在アクティブなサムネイルのクラスを変更（選択解除）
            slider.querySelector('.thumbs .selected').classList.remove('selected');
            //次にアクティブにするサムネイルのクラスを変更（選択状態）
            this.classList.add('selected');
            //サムネイル番号からスクロール量を算出する
            let preview_ul = slider.querySelector('div > ul');
            preview_ul.scrollLeft = (preview_ul.clientWidth * this.dataset.no);
          }
        });
        //スクロール発生時のイベント
        slider.querySelector('div > ul').onscroll = function () {
          //onscrollはスクロールが終わるまでに何度も発生するため、
          //100ミリ秒間onscrollが発生しなかったときに限り、処理を続行する
          clearTimeout(slider.dataset.timeoutid);
          slider.dataset.timeoutid = setTimeout(function () {
            //現在アクティブなサムネイルのクラスを変更（選択解除）
            slider.querySelector('.thumbs .selected').classList.remove('selected');
            //プレビューとサムネイルのノードを取得
            let preview_ul = slider.querySelector('div > ul');
            let thumbs = slider.querySelector('.thumbs');
            //現在のスクロール量からサムネイル番号を算出
            let thumbs_no = Math.floor(preview_ul.scrollLeft / preview_ul.clientWidth);
            //アクティブにするサムネイルのクラスを変更（選択状態）
            thumbs.children[thumbs_no].classList.add('selected');
          }, 100);
        };
      });
    });
    </script>
  </div>

  <div class="line"></div>
    <!-- アクセス情報を表示 -->
    <div class="access">
        <div class="title">
          <div class="title-up">information / access</div>
          <div class="title-middle">-</div>
          <div class="title-down">【 サロン案内／アクセス 】</div>
        </div>
      <div class="access-top">
        <div class="access-flex">
          <div class="access-image">
            <%= image_tag asset_path("home.jpeg"), class:"home" %>
          </div>
          <div class="access-information">
            <div class="access-comment">
              <div class="name">HEALTH & BEAUTY  TORa</div>
              <div class="adress">〒381-2223 長野県長野市里島27-2<br> タウンコートいずみ 102号室</div>
              <div class="time">営業時間 ◯◯：◯◯ 〜 ◯◯：◯◯ </div>
              完全予約制
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="line"></div>

</div>
</body>
<%= render "shared/footer" %>